<html>

<head>
  <title>Save A Table</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="(( url_for('static', filename='css/sass/materialize.css') ))">
  <!-- Materialize Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="(( url_for('static', filename='css/styles.css') ))">

  <!-- Favicon -->
  <link rel="shortcut icon" href="(( url_for('static', filename='images/table.ico') ))">

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Evans Library Tables</a>
    </div>
  </nav>

  <br>

  <!-- Carousel -->
  <div class="container">
    <div class="carousel carousel-slider z-depth-5">
      <a class="carousel-item" href="#!">
        <img src="(( url_for('static', filename='images/floor3.png') ))">
      </a>
      <a class="carousel-item" href="#!">
        <img src="(( url_for('static', filename='images/floor4.png') ))">
      </a>
      <a class="carousel-item" href="#!">
        <img src="(( url_for('static', filename='images/floor5.png') ))">
      </a>
      <a class="carousel-item" href="#!">
        <img src="(( url_for('static', filename='images/floor6.png') ))">
      </a>
    </div>
  </div>

  <div class="container" id="main">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-stacked">
          <div class="card-content">
            <!-- Tabs -->
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab" @click="activeTab = 'floor3'" id="floor3">
                  <a>Floor 3</a>
                </li>
                <li class="tab" @click="activeTab = 'floor4'" id="floor4">
                  <a>Floor 4</a>
                </li>
                <li class="tab" @click="activeTab = 'floor5'" id="floor5">
                  <a>Floor 5</a>
                </li>
                <li class="tab" @click="activeTab = 'floor6'" id="floor6">
                  <a>Floor 6</a>
                </li>
              </ul>
            </div>
            <br>
            <div class="row">
              <div class="col s3">
                <input type="checkbox" checked @click="onlyShowVacancy = !onlyShowVacancy" id="onlyShowVacancySwitch" />
                <label for="onlyShowVacancySwitch">
                  Only show vacancy
                </label>
              </div>
            </div>
            <!-- Table -->
            <table class="highlight responsive-table striped">
              <thead>
                <tr>
                  <th>Table Number</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="table in tables()">
                  <th>{{ table.name }}</th>
                  <th>
                    <div class="chip" :class="{ 'occupied': table.status == 'Occupied', 'vacant': table.status == 'Vacant' }">
                      <h6>{{ table.status }}</h6>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Axios -->
  <script type="text/javascript" src="(( url_for('static', filename='js/axios.min.js') ))"></script>
  <!-- Materialize JS -->
  <script src="(( url_for('static', filename='js/materialize.js') ))"></script>
  <!-- Custom JS -->
  <script src="(( url_for('static', filename='js/main.js') ))"></script>
</body>

</html>
